altgraph==0.17.4
cachetools>=5.5.0
certifi
charset-normalizer
cssselect
cssutils
idna
lxml
more-itertools
packaging
premailer
pyinstaller
pyinstaller-hooks-contrib
PyMySQL
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dotenv
requests
setuptools
urllib3<2.0.0
yagmail
